<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 class="productOption mt-5">Login Form</h1>
    <div class="container-2">
        
        <form action="/login" method="post" class="loginform">
            <label for="username" class="label">Username: </label>
            <br>
            <input type="text" class="input" name="username" id="username" placeholder="username">
            <br><br>
            <label for="password" class="label">Password: </label>
            <br>
            <input type="password" class="input" name="password" id="password" placeholder="password">
            <br><br>
            <button class="loginbutton">Submit</button>
          </form>
    </div>
    
</body>
</html>